.active
    animation: iconsAnimation .6s linear both
.activeH1
    animation: elementShow 1s 1s linear both
.skills::after
    content: ""
    width: 100vw
    height: 100vh
    background-color: rgba(0,0,0, .9)
    position: absolute
    z-index: 2
.skills
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    position: relative
    background-image: url(js.jpg)
    background-attachment: fixed
    z-index: 1

    .skillsArrow
        width: 50px
        height: 100px
        +arrows(#ddd)
    .skillsH1
        z-index: 3
        width: 100vw
        text-align: center
        text-transform: capitalize
        position: absolute
        font-size: 60px
        font-family: 'Russo One', sans-serif
        color: #fff
        letter-spacing: 5px
        opacity: 0
    .icons
        z-index: 3
        width: 90vw
        top: 50%
        transform: translateY(-50%)
        position: absolute
        display: flex
        justify-content: space-around
        flex-wrap: wrap
        font-size: 100px
        max-height: 100vh
        position: relative
        align-self: center
        text-align: center

        .fa-js
            color: rgb(255, 213, 0)
            position: relative
            transition: .5s

        .fa-html5
            color: rgb(255, 103, 0)
            animation-delay: .1s
            transition: .5s
            position: relative

        .fa-css3-alt
            transition: .5s
            color: rgb(41, 101, 241)
            animation-delay: .2s
            position: relative
        .fa-sass
            transition: .5s
            color: rgb(205, 103, 153)
            animation-delay: .3s
            position: relative
        .fa-bootstrap
            transition: .5s
            color: rgb(86, 61, 124)
            animation-delay: .4s
            position: relative
        .fa-git-alt
            transition: .5s
            color: rgb(241, 93, 47)
            animation-delay: .5s
            position: relative
        .fa-github
            transition: .5s
            color: rgb(255, 255, 255)
            animation-delay: .6s
            position: relative
        i
            display: flex
            justify-content: center
@media (orientation: portrait)
    .skills
        .skillsH1
            margin-top: 20px
            font-size: 45px
        .icons
            font-size: 70px
            height: 70%
            i
                flex-basis: 50%
                height: 28%

            .fa-js::after
                +itemDescribeMobile("JavaScript")
            .fa-html5::after
                +itemDescribeMobile("HTML5")
            .fa-css3-alt::after
                +itemDescribeMobile("CSS3")
            .fa-sass::after
                +itemDescribeMobile("SASS")
            .fa-bootstrap::after
                +itemDescribeMobile("Bootstrap")
            .fa-git-alt::after
                +itemDescribeMobile("GIT")
            .fa-github::after
                +itemDescribeMobile("GitHub")
@media ( min-width: 600px ) and (max-width: 999px)
    .skills
        .skillsH1
            margin-top: 15px
        .icons
            top: 58%
            height: 70%
            i
                flex-basis: 25%
            .fa-js::after
                +itemDescribeMobile("JavaScript")
            .fa-html5::after
                +itemDescribeMobile("HTML5")
            .fa-css3-alt::after
                +itemDescribeMobile("CSS3")
            .fa-sass::after
                +itemDescribeMobile("SASS")
            .fa-bootstrap::after
                +itemDescribeMobile("Bootstrap")
            .fa-git-alt::after
                +itemDescribeMobile("GIT")
            .fa-github::after
                +itemDescribeMobile("GitHub")
@media ( min-width: 1000px )
    .skills
        .skillsH1
            margin-top: 10%
        .icons
            i
                flex-basis: 10%

            .fa-js::after
                animation: iconDescribeAnimation .2s linear both
            .fa-js:hover
                color: rgba(255, 213, 0, .2)
            .fa-js:hover::after
                +itemDescribe("JavaScript")

            .fa-html5::after
                animation: iconDescribeAnimation .2s linear both
            .fa-html5:hover
                color: rgba(255, 103, 0, .2)
            .fa-html5:hover::after
                +itemDescribe("HTML5")

            .fa-css3-alt::after
                animation: iconDescribeAnimation .2s linear both
            .fa-css3-alt:hover
                color: rgba(41, 101, 241, .2)
            .fa-css3-alt:hover::after
                +itemDescribe("CSS3")

            .fa-sass::after
                animation: iconDescribeAnimation .2s linear both
            .fa-sass:hover
                color: rgba(205, 103, 153, .2 )
            .fa-sass:hover::after
                +itemDescribe("SASS")

            .fa-sass::after
                animation: iconDescribeAnimation .2s linear both
            .fa-sass:hover
                color: rgba(205, 103, 153, .2 )
            .fa-sass:hover::after
                +itemDescribe("SASS")

            .fa-bootstrap::after
                animation: iconDescribeAnimation .2s linear both
            .fa-bootstrap:hover
                color: rgba(86, 61, 124, .2)
            .fa-bootstrap:hover::after
                +itemDescribe("Bootstrap")

            .fa-git-alt::after
                animation: iconDescribeAnimation .2s linear both
            .fa-git-alt:hover
                color: rgba(241, 93, 47, .2)
            .fa-git-alt:hover::after
                +itemDescribe("GIT")

            .fa-github::after
                animation: iconDescribeAnimation .2s linear both
            .fa-github:hover
                color: rgba(255, 255, 255, .2)
            .fa-github:hover::after
                +itemDescribe("GitHub")
